.contaier{
    width: 1536px;
    height: 597px;
    margin: 0 auto;
    padding: 2rem;
   
    background-image: url('1.png');

}
.carte {
    width: 712px;
    height: 270px;
    position: relative;
    left: 317.5px;
    top: 150.1px;
    background-color: #ffffffb9;
  }
  .paragraphe p{
    font-family:
      Dubai Medium,
      sans-serif;
    font-size: 1.2cm;
    padding-left: 2rem;
    color: black;
    font-weight: bold;
    padding-right: 2rem;
    position: relative;
    top: 60px;
    line-height: 40px;
  }
  
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #af2f64;
    position: relative;
    left: 32%;
    top: 30%;
  }
  
  .register:hover {
    opacity: 0.7;
  }
  